html,body{
    margin:0;
    padding:0;
    height:100%; 
    width:100%; 
   background-color:#2196F3;
   
   
}
.text{
  margin:10px;
}
#sun{
   
     margin-top:8px;
     color:#FFEB3B;
}
.blocks{ 
    background-color:#0D47A1;
     text-align:left; 
     color:#E3F2FD;
     height:80px;
    opacity:0.9;
   }
h1{
  margin:0;
  text-align:center;
 
}
.weather-color{
  color:#BBDEFB;
}
.secondary{
  display:block;
 background-color:#64B5F6;
  height:60%;
  margin-top:-25%;
  overflow:hidden;
}
#search{
  float:right;
  margin:30px;
 
}
.content{
  diplay:block;
  height:450px;
  width:800px;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  background-color:#E3F2FD;
 background-attachment:fixed;
  position: relative;
   box-shadow: 10px 10px 5px #1565C0;
}